# Working with JSON

In [1]:
import pandas as pd
from numpy.random import randn

In [39]:
import numpy as np

## Write JSON
Use to_json

In [5]:
dfj = pd.DataFrame(randn(5, 2), columns=list('AB'))

In [6]:
json = dfj.to_json()
json

'{"A":{"0":0.0288208656,"1":-1.4626524759,"2":0.9746999458,"3":0.8170862715,"4":-0.3275918903},"B":{"0":1.6599333143,"1":-1.1754456412,"2":-1.2830101001,"3":0.9802287353,"4":-0.3435904276}}'

In [7]:
dfjo = pd.DataFrame(dict(A=range(1, 4), B=range(4, 7), C=range(7, 10)),columns=list('ABC'), index=list('xyz'))

In [8]:
dfjo

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [9]:
sjo = pd.Series(dict(x=15, y=16, z=17), name='D')
sjo

x    15
y    16
z    17
Name: D, dtype: int64

### orientation

In [10]:

dfjo.to_json(orient="columns")

'{"A":{"x":1,"y":2,"z":3},"B":{"x":4,"y":5,"z":6},"C":{"x":7,"y":8,"z":9}}'

In [11]:
 dfjo.to_json(orient="index")

'{"x":{"A":1,"B":4,"C":7},"y":{"A":2,"B":5,"C":8},"z":{"A":3,"B":6,"C":9}}'

In [12]:
 dfjo.to_json(orient="records")

'[{"A":1,"B":4,"C":7},{"A":2,"B":5,"C":8},{"A":3,"B":6,"C":9}]'

In [13]:
sjo.to_json(orient="records")

'[15,16,17]'

In [14]:
dfjo.to_json(orient="values")

'[[1,4,7],[2,5,8],[3,6,9]]'

In [15]:
# Separates columns, index and values(data) 
dfjo.to_json(orient="split")

'{"columns":["A","B","C"],"index":["x","y","z"],"data":[[1,4,7],[2,5,8],[3,6,9]]}'

In [16]:
 sjo.to_json(orient="split")

'{"name":"D","index":["x","y","z"],"data":[15,16,17]}'

### Date Handling

In [18]:
dfd = pd.DataFrame(randn(5, 2), columns=list('AB'))

In [19]:
dfd['date'] = pd.Timestamp('20130101')

In [20]:
dfd = dfd.sort_index(1, ascending=False)

In [21]:
json = dfd.to_json(date_format='iso')
json

'{"date":{"0":"2013-01-01T00:00:00.000Z","1":"2013-01-01T00:00:00.000Z","2":"2013-01-01T00:00:00.000Z","3":"2013-01-01T00:00:00.000Z","4":"2013-01-01T00:00:00.000Z"},"B":{"0":0.5697465141,"1":-1.5993838441,"2":1.4691397621,"3":0.6172990527,"4":0.0178636111},"A":{"0":-0.3841218161,"1":-0.4656407583,"2":-0.3746642964,"3":0.3535391489,"4":-0.4117932708}}'

In [22]:
json = dfd.to_json(date_format='iso', date_unit='us')
json

'{"date":{"0":"2013-01-01T00:00:00.000000Z","1":"2013-01-01T00:00:00.000000Z","2":"2013-01-01T00:00:00.000000Z","3":"2013-01-01T00:00:00.000000Z","4":"2013-01-01T00:00:00.000000Z"},"B":{"0":0.5697465141,"1":-1.5993838441,"2":1.4691397621,"3":0.6172990527,"4":0.0178636111},"A":{"0":-0.3841218161,"1":-0.4656407583,"2":-0.3746642964,"3":0.3535391489,"4":-0.4117932708}}'

In [23]:
json = dfd.to_json(date_format='iso', date_unit='s')
json

'{"date":{"0":"2013-01-01T00:00:00Z","1":"2013-01-01T00:00:00Z","2":"2013-01-01T00:00:00Z","3":"2013-01-01T00:00:00Z","4":"2013-01-01T00:00:00Z"},"B":{"0":0.5697465141,"1":-1.5993838441,"2":1.4691397621,"3":0.6172990527,"4":0.0178636111},"A":{"0":-0.3841218161,"1":-0.4656407583,"2":-0.3746642964,"3":0.3535391489,"4":-0.4117932708}}'

In [24]:
dfj2 = dfj.copy()

In [25]:
dfj2['date'] = pd.Timestamp('20130101')

In [26]:
dfj2['ints'] = list(range(5))

In [27]:
dfj2['bools'] = True

In [28]:
dfj2.index = pd.date_range('20130101', periods=5)

In [29]:
dfj2.to_json('test.json')

In [30]:
open('test.json').read()

'{"A":{"1356998400000":0.0288208656,"1357084800000":-1.4626524759,"1357171200000":0.9746999458,"1357257600000":0.8170862715,"1357344000000":-0.3275918903},"B":{"1356998400000":1.6599333143,"1357084800000":-1.1754456412,"1357171200000":-1.2830101001,"1357257600000":0.9802287353,"1357344000000":-0.3435904276},"date":{"1356998400000":1356998400000,"1357084800000":1356998400000,"1357171200000":1356998400000,"1357257600000":1356998400000,"1357344000000":1356998400000},"ints":{"1356998400000":0,"1357084800000":1,"1357171200000":2,"1357257600000":3,"1357344000000":4},"bools":{"1356998400000":true,"1357084800000":true,"1357171200000":true,"1357257600000":true,"1357344000000":true}}'

### Fallback Behavior
dtype: default_handler or exception
object: toDict, default_handler,

In [33]:
#pd.DataFrame([1.0, 2.0, complex(1.0, 2.0)]).to_json()  # raises
pd.DataFrame([1.0, 2.0, complex(1.0, 2.0)]).to_json(default_handler=str)

'{"0":{"0":"(1+0j)","1":"(2+0j)","2":"(1+2j)"}}'

### Reading JSON
parameters:
1. filepath_or_buffer
2. typ
3. orient
4. dtype
5. convert_axes
6. convert_dates
7.

Data Conversion

In [34]:
pd.read_json(json)

          A         B       date
0 -0.384122  0.569747 2013-01-01
1 -0.465641 -1.599384 2013-01-01
2 -0.374664  1.469140 2013-01-01
3  0.353539  0.617299 2013-01-01
4 -0.411793  0.017864 2013-01-01

In [35]:
pd.read_json('test.json')

                   A         B  bools       date  ints
2013-01-01  0.028821  1.659933   True 2013-01-01     0
2013-01-02 -1.462652 -1.175446   True 2013-01-01     1
2013-01-03  0.974700 -1.283010   True 2013-01-01     2
2013-01-04  0.817086  0.980229   True 2013-01-01     3
2013-01-05 -0.327592 -0.343590   True 2013-01-01     4

In [36]:
pd.read_json('test.json', dtype=object).dtypes

A        object
B        object
bools    object
date     object
ints     object
dtype: object

In [37]:
pd.read_json('test.json', dtype={'A' : 'float32', 'bools' : 'int8'}).dtypes

A               float32
B               float64
bools              int8
date     datetime64[ns]
ints              int64
dtype: object

In [40]:
si = pd.DataFrame(np.zeros((4, 4)),
                   columns=list(range(4)),
                   index=[str(i) for i in range(4)])

In [41]:
si.index

Index(['0', '1', '2', '3'], dtype='object')

In [42]:
si.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [44]:
json = si.to_json()
json

'{"0":{"0":0.0,"1":0.0,"2":0.0,"3":0.0},"1":{"0":0.0,"1":0.0,"2":0.0,"3":0.0},"2":{"0":0.0,"1":0.0,"2":0.0,"3":0.0},"3":{"0":0.0,"1":0.0,"2":0.0,"3":0.0}}'

In [45]:
sij = pd.read_json(json, convert_axes=False)
sij

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0

In [46]:
sij.index

Index(['0', '1', '2', '3'], dtype='object')

In [47]:
sij.columns

Index(['0', '1', '2', '3'], dtype='object')

In [48]:
# nanoseconds
json = dfj2.to_json(date_unit='ns')

In [49]:
dfju = pd.read_json(json, date_unit='ms')
dfju

                            A         B  bools                 date  ints
1356998400000000000  0.028821  1.659933   True  1356998400000000000     0
1357084800000000000 -1.462652 -1.175446   True  1356998400000000000     1
1357171200000000000  0.974700 -1.283010   True  1356998400000000000     2
1357257600000000000  0.817086  0.980229   True  1356998400000000000     3
1357344000000000000 -0.327592 -0.343590   True  1356998400000000000     4

In [50]:
# pandas decide the precision
dfju = pd.read_json(json)
dfju

                   A         B  bools       date  ints
2013-01-01  0.028821  1.659933   True 2013-01-01     0
2013-01-02 -1.462652 -1.175446   True 2013-01-01     1
2013-01-03  0.974700 -1.283010   True 2013-01-01     2
2013-01-04  0.817086  0.980229   True 2013-01-01     3
2013-01-05 -0.327592 -0.343590   True 2013-01-01     4

### The numpy parameter
To deserialize numeric data, numpy=True

Assumptions:
. numeric data
. uniform data
. labels are ordered

In [52]:
randfloats = np.random.uniform(-100, 1000, 10000)
randfloats.shape = (1000, 10)
dffloats = pd.DataFrame(randfloats, columns=list('ABCDEFGHIJ'))
jsonfloats = dffloats.to_json()

In [53]:
timeit pd.read_json(jsonfloats)

13.2 ms ± 1.24 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [54]:
timeit pd.read_json(jsonfloats, numpy=True)

7.42 ms ± 408 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [55]:
jsonfloats = dffloats.head(100).to_json()

In [56]:
timeit pd.read_json(jsonfloats)

6.74 ms ± 582 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [57]:
timeit pd.read_json(jsonfloats, numpy=True)

5.63 ms ± 825 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

### Normalization
Utility function to take a dict or list and normalize it into a flat table

In [58]:
from pandas.io.json import json_normalize

In [60]:
data = [{'state': 'Florida',
        'shortname': 'FL',
        'info': {
        'governor': 'Rick Scott'
        },
        'counties': [{'name': 'Dade', 'population': 12345},
        {'name': 'Broward', 'population': 40000},
        {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
        'shortname': 'OH',
        'info': {
        'governor': 'John Kasich'
        },
        'counties': [{'name': 'Summit', 'population': 1234},
        {'name': 'Cuyahoga', 'population': 1337}]}]

In [61]:
data

[{'counties': [{'name': 'Dade', 'population': 12345},
   {'name': 'Broward', 'population': 40000},
   {'name': 'Palm Beach', 'population': 60000}],
  'info': {'governor': 'Rick Scott'},
  'shortname': 'FL',
  'state': 'Florida'},
 {'counties': [{'name': 'Summit', 'population': 1234},
   {'name': 'Cuyahoga', 'population': 1337}],
  'info': {'governor': 'John Kasich'},
  'shortname': 'OH',
  'state': 'Ohio'}]

In [62]:
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state info.governor shortname
0        Dade       12345  Florida    Rick Scott        FL
1     Broward       40000  Florida    Rick Scott        FL
2  Palm Beach       60000  Florida    Rick Scott        FL
3      Summit        1234     Ohio   John Kasich        OH
4    Cuyahoga        1337     Ohio   John Kasich        OH

In [63]:
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state info.governor shortname
0        Dade       12345  Florida    Rick Scott        FL
1     Broward       40000  Florida    Rick Scott        FL
2  Palm Beach       60000  Florida    Rick Scott        FL
3      Summit        1234     Ohio   John Kasich        OH
4    Cuyahoga        1337     Ohio   John Kasich        OH

### Line delimited json
lines = True

In [65]:
jsonl = '''
        {"a":1,"b":2}
        {"a":3,"b":4}
    '''
df = pd.read_json(jsonl, lines=True)
df

   a  b
0  1  2
1  3  4

In [66]:
df.to_json(orient='records', lines=True)

'{"a":1,"b":2}\n{"a":3,"b":4}'

### Table schema
Table as json object

In [68]:
df = pd.DataFrame(
        {'A': [1, 2, 3],
        'B': ['a', 'b', 'c'],
        'C': pd.date_range('2016-01-01', freq='d', periods=3),
        }, index=pd.Index(range(3), name='idx'))
df

     A  B          C
idx
0    1  a 2016-01-01
1    2  b 2016-01-02
2    3  c 2016-01-03

In [69]:
df.to_json(orient='table', date_format="iso")

'{"schema": {"primaryKey":["idx"],"pandas_version":"0.20.0","fields":[{"name":"idx","type":"integer"},{"name":"A","type":"integer"},{"name":"B","type":"string"},{"name":"C","type":"datetime"}]}, "data": [{"idx":0,"A":1,"B":"a","C":"2016-01-01T00:00:00.000Z"},{"idx":1,"A":2,"B":"b","C":"2016-01-02T00:00:00.000Z"},{"idx":2,"A":3,"B":"c","C":"2016-01-03T00:00:00.000Z"}]}'